body {
  margin: 0;
  
  font-family: "PT Sans", Arial, sans-serif;  
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none; 
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin:auto;	
  background-color: #ffffff;
  background-position: center;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  position: relative;
}
.main-header {
  position: relative;
}
.main-navigation { 
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}
.main-header-logo {
  position: absolute;
  width: 140px;
  height:71px;
  
  left: 50%;
  top: 0;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  z-index: 3;
}
.site-navigation { 
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  width: 1200px;
  margin: 0;
  padding: 0;
  padding: 13px 72px 16px 72px;
	
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color:  #ffffff;
}
.site-navigation li {
  display: block;
  width: 240px;
  margin: 0;
  padding:0;
}
.site-navigation li:nth-child(3) {
	margin-left: 95px;
}
.site-navigation-left {
	text-align: left;
}
.site-navigation-right {
	text-align: right;
}
.site-navigation a { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  
  word-wrap: break-word; 
  color: #000000;
}
.site-navigation a:hover,  
.site-navigation a:focus { 
  color: #81b3d2;
}
.site-navigation a:active { 
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-current-page { 
  color: #766357;
}
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.welcome-panorama {
  position: relative;
  margin:0;
  padding:0;
  background-color: #DCEAF3;
  background-image: url("../img/panorama for index.jpg");
  background-position: top;
  background-size: cover; 
  background-repeat: no-repeat; 
  
  min-height: 507px;
  text-align: center;
}
.welcome-panorama img {
  padding-top: 76px;
}
.welcome-panorama::after {
  content:"";
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 1200px;
  height: 59px;
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
}
.invite {
  width: 510px;
  margin: 0 auto ;
  padding: 0;
  margin-bottom: 37px;
  text-align: center;
}
.invite h2 {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 27px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.invite p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
}
.features-list { 
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  margin: 0;
  padding:0;
  text-align: center;
}
.feature-list {
  list-style: none;
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-list li:nth-child(1) {
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}
.features-list li:nth-child(6) {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}
.feature-list-content {
  margin:0;
  padding:0;
  width: 400px;
}
.feature-list-content:nth-child(1) h3 { 
  margin-left: 110px;
  margin-right: 110px;
}
.feature-list-content:nth-child(2) h3 { 
  margin-left: 124px;
  margin-right: 125px;
}
.feature-list-content:nth-child(1) p { 
   margin-left: 55px;
   margin-right: 55px;
}
.feature-list-content:nth-child(2) p { 
   margin-left: 40px;
   margin-right: 40px;
}
.features-list h3 {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 22px;
	
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}
.features-list span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  position: relative;
}
.features-list span::before {
  content: "";

  position: absolute;
  width: 10px;
  height: 2px;
  top: 9px;
  left: -15px;

  background-color: #ffffff;
}
.features-list span::after {
  content: "";

  position: absolute;
  width: 10px;
  height: 2px;
  top: 9px;
  right: -15px;

  background-color: #ffffff;
}
.features-list p {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}
.feature-list-extra {  
  width: 400px;
  background-color: #eeeeee;
}
.feature-list-extra h3 {
	
  margin-left: 130px;
  margin-right: 130px;
}
.feature-list-extra p { 
  margin-left: 60px;
  margin-right: 60px;
}
p.exept { 
  margin-left: 75px;
  margin-right: 75px;
}
.feature-list-extra span::before,
.feature-list-extra span::after {
  background-color: #333333;
}
.feature-list-content { 
  background-color: #81b3d2;
}
.feature-list-content h3,
.feature-list-content span,
.feature-list-content p { 
  color: #ffffff;
}
.feature-list img {
  display: block;
  width: 800px;
  height: 256px;
  -o-object-fit: cover;
     object-fit: cover; 
}
.features-item { 
  list-style: none;
  width: 1200px;
  margin: 0;
  padding:0;
  background-color: #f2f2f2;
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features-item li {
  margin: 0;
  width: 290px;
  padding: 0 55px;
  text-align: center;
}
.feature-item h4 {
  margin: 0;
  margin-bottom: 24px;
  
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}
.feature-item p {
  margin: 0;
  margin-bottom: 82px;
  
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}
.housing svg {
  width: 75px;
  height: 72px;
  margin-top: 60px;
  margin-bottom: 22px;
}
.food svg {
  width: 74px;
  height: 70px;
  margin-top: 61px;
  margin-bottom: 23px;
}
.souvenirs svg {
  width: 64px;
  height: 76px;
  margin-top: 56px;
  margin-bottom: 22px;
}
.book-a-hotel {
  margin: 0 auto;
  width: 1200px;
  min-height: 292px;
	
  text-align: center; 
}
.book-a-hotel-wrapper {
  position: relative;
  width: 100%;
  margin:0 auto;
  padding: 0;
  z-index: 10;
  background-color: #ffffff;
}
.button-hotel-search {
  display: inline-block;
  vertical-align: middle;
  padding: 30px 139px;
  cursor: pointer;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
  outline: none;
  z-index: 5;
}
.book-a-hotel h3 {
  margin:0;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 380px;
  margin-right: 380px;
  
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;	
}
.book-a-hotel p {
  margin:0;
  margin-bottom: 47px;
  margin-left: 380px;
  margin-right: 380px;
  
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;	
}
.button-hotel-search:hover,
.button-hotel-search:focus {
  background-color: #604e43;
  border: none;
}
.button-hotel-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
@-webkit-keyframes bounce {
  0% {
   -webkit-transform: translate(-284px, -290px);
           transform: translate(-284px, -290px);
   height: 292px;
  }

  20% {
    -webkit-transform: translate(-284px, 100px);
            transform: translate(-284px, 100px);
  }

  40%,
  70%,
  100%  {
    -webkit-transform: translate(-284px, 0px);
            transform: translate(-284px, 0px);
  }
  
  60% {
    -webkit-transform: translate(-284px, 60px);
            transform: translate(-284px, 60px);
  }
  90% {
    -webkit-transform: translate(-284px, 30px);
            transform: translate(-284px, 30px);
  }
}
@keyframes bounce {
  0% {
   -webkit-transform: translate(-284px, -290px);
           transform: translate(-284px, -290px);
   height: 292px;
  }

  20% {
    -webkit-transform: translate(-284px, 100px);
            transform: translate(-284px, 100px);
  }

  40%,
  70%,
  100%  {
    -webkit-transform: translate(-284px, 0px);
            transform: translate(-284px, 0px);
  }
  
  60% {
    -webkit-transform: translate(-284px, 60px);
            transform: translate(-284px, 60px);
  }
  90% {
    -webkit-transform: translate(-284px, 30px);
            transform: translate(-284px, 30px);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-284px);
            transform: translateX(-284px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-294px);
            transform: translateX(-294px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-274px);
            transform: translateX(-274px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-284px);
            transform: translateX(-284px);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-294px);
            transform: translateX(-294px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-274px);
            transform: translateX(-274px);
  }
}
.modal {
  display: none;
 
  position: absolute;
  margin:0 auto;
  padding: 0;
  width: 458px;
  padding:55px;
  
  left: 50%;
  -webkit-transform:translateX(-50%);
      -ms-transform:translateX(-50%);
          transform:translateX(-50%);
  z-index: 2;
  opacity: 0.99;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}
.modal-noscript {
  display: block;
}
.modal-show {
  display: block;
  -webkit-animation: bounce 0.7s;
          animation: bounce 0.7s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
.hotel-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hotel-search-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 458px;
  margin-bottom: 26px;
    
  display: -webkit-box;
    
  display: -ms-flexbox;
    
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
.hotel-search-container-people {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
    
  display: -webkit-box;
    
  display: -ms-flexbox;
    
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
.hotel-search-container label,
.hotel-search-container-people label {
  display: inline-block;
  vertical-align: middle;
  
  margin:0;
  padding:0;
  padding-top: 8px;
}
.hotel-search-container input[type="text"] {
  width: 346px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  
  padding-top: 6px;
  padding-left: 11px;
  padding-bottom: 7px;
  padding-right: 34px;
  margin-left: auto;
  
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border: solid 2px transparent; 
  outline: none;
}
.hotel-search-container-people input[type="text"] { 
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  margin: 0;
      
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  border: solid 2px transparent;  
  outline: none;
}
.hotel-search-container input:hover,
.hotel-search-container-people input:hover {
  background-color: #ebebeb;
  border: solid 2px transparent; 
  outline: none;
}
.hotel-search-container input:focus,
.hotel-search-container-people input:focus {
  background-color: #ffffff;
  border: solid 2px #e5e5e5; 
  outline: none;
}
.button-calendar {
  min-width: 35px;
  text-align: center;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 7px;
  right: 1px;
  cursor: pointer;
  outline: none;
}
.button-calendar:hover svg,
.button-calendar:focus svg {
  fill: #000000;
  border: none;
}
.button-calendar:active  svg {
  fill: #81b3d2;
  border: none;
}
.hotel-search-container-people {
  width: 226px;
  margin-bottom: 55px;
}
.children {
  width: 179px;
}
.button-less-people,
.button-more-people {
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  fill: #cacaca;
  outline: none;
}
.button-less-people {
  margin-left: 40px;
}
.children .button-less-people {
  margin-left: 30px;
}
.button-less-people:hover,
.button-more-people:hover,
.button-less-people:focus,
.button-more-people:focus {
  fill: #000000;
}
.button-less-people:active, 
.button-more-people:active {
  fill: #81b3d2;
}
.button-search {
  width:100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding-top: 15px ;
  padding-bottom: 17px;
  cursor: pointer;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}
.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
  outline: none;
}
.button-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.map {
  width: 1200px;
  height: 600px;
    
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.main-footer {
  width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  padding: 33px 101px 41px 133px;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-footer-index {
  background-color: rgba(255,255,255,0.9);
  
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.main-footer .footer-vizitsedona {
  max-width: 155px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
	
  word-wrap: break-word; 
}
.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 500px;
  padding-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}  
.footer-social li {
  margin: 0;
  padding:0;
}
.social-button {
  margin: 3px 0;
  padding: 0;
  margin-left: 6px;
    
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  fill: rgba(255,255,255,0.3);
}
.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 200px;
  margin: 0;
  padding:0;
}
.footer-copyright b {
  margin:0;
  padding-top: 13px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}
.button-logo-academy {
  padding-top: 5px;
  margin-left: 8px
}
.button-logo-academy:hover path,
.button-logo-academy:focus path {
  fill: #81b3d2;
}
.button-logo-academy:active path {
  fill: #bdbbbc;
}
.filters {
  margin: 0;
  padding: 0;
  background-color: #604E43;
  background-image: url("../img/panorama-filter for catalog.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
.filter {
  min-height: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter fieldset {
  border: none;
}
.filters-feeld {
  list-style: none;
  width:140px;
  margin: 0;
  padding:0;
  margin-top: 27px;
}
.filters-feeld:nth-child(1) {
  margin-left: 72px;
}
.filters-feeld:nth-child(2) {
  margin-left: 115px;
  margin-right:auto;
}
.filters-feeld, 
.filter-range-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}
.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-option {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding-left: 40px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}
.filters-cost {
  width: 317px;
  margin-right: 72px;
  margin-left: auto;	
}
.filters-feeld legend {
  margin-bottom: 25px;
}
.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -1px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: -1px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}
.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: -1px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}
.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  left: -39px;
  top: -1px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px	
}
.filter-input-checkbox:disabled + label {
  color: #6a6a6a; 
}
.filter-input-checkbox:focus + label {
  color: #e984b0;
}
.filter-range-title {
  margin-top: 27px;
  margin-bottom: 10px;
}
.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 90px;
  margin:0;
  padding:0;
  font-size: 14px;
  line-height: 21px;
  padding-top: 4px;
  padding-left: 63px;
  cursor: pointer;
}
.price-controls .max-price {
  padding-left: 54px;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
  -webkit-transform: scaleX(1.1) scaleY(1.1);
      -ms-transform: scaleX(1.1) scaleY(1.1);
          transform: scaleX(1.1) scaleY(1.1);
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0;
  margin-left: 84px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
  outline: none;
}
.sort {
  margin: 0;
  padding: 29px 72px 25px 72px;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sort span {
  display: inline-block;
  vertical-align: middle;
  margin:0;
  padding:0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.sort p {
  display: inline-block;
  vertical-align: middle;
  margin:0;
  margin-left:48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
}
.sort-list {
  list-style: none;
 	
  margin: 0;
  padding: 0;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: transparent;
}
.sort-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding:0;
  margin-left: 33px;
}
.sort-list li:first-child {
  margin-left: 40px;
}
.sort-list a {  
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3); 
  text-align: left;
 
  border-bottom: 1px dotted #81b3d2;
}
.current-button-sort a {
  color: #81b3d2;
  border-bottom: none;
}
.sort-list a:hover,  
.sort-list a:focus {
  color: #81b3d2;
}
.sort-list a:active {  
  color: #000000;
  border-bottom: none;
}
.sort-ascending-descending {
  list-style: none;
  margin:0;
  padding: 0;
  margin-left: auto;
}
.sort-ascending-descending li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 4px;
}
.ascending-descending:hover path,
.ascending-descending:focus path {
  fill: #000000;
}
.ascending-descending:active path {
  fill: #81b3d2;
}
.current-ascending-descending path {
  fill: #81b3d2;
}
.catalog-list {
  margin: 0;
  padding: 0;
}
.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #f2f2f2;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-top:31px;
  padding-bottom: 29px;
}
.catalog-item:last-child {
  border-bottom: 1px solid #f2f2f2;
}
.catalog-item .hotel-photo {
  display: block;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  height: 100%;
}
.about-hotel {
  margin: 0;
  padding:0;
  margin-top: -6px;
 
  max-width: 700px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.button-hotel h3 {
  display: inline-block; 
  vertical-align: baseline;
  margin: 0;
  
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;	
}
.button-hotel h3:hover,
.button-hotel h3:focus {
  color: #81b3d2; 
}
.button-hotel h3:active {
  color: rgba(0, 0, 0, 0.3); 
}
.catalog-list { 
  list-style: none;
}
.catalog-item span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;	
}
.button-more,
.button-booking {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-top: 12px;
	
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
 
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}
.catalog-category,
.button-more {
  width: 110px;
  margin-left: 0;
}
.catalog-price,
.button-booking {
  width: 142px;
  margin-left: 2px;
  margin-right: auto;
}
.catalog-price  {
  padding-left: 2px;
}
.button-more {
  background-color: #81b3d2;
}
.button-more:hover,
.button-more:focus {
  background-color: #669ec0; 
}
.button-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3); 
}
.button-booking {
  background-color: #766357;
}
.button-booking:hover,
.button-booking:focus {
  background-color: #604e43; 
}
.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3); 
}
.stars-rating {
  width: 110px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.number-of-stars {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -2px;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.number-of-stars li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.number-of-stars li:last-child {
  margin-right: 0;
}
.stars-rating span {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 4px 13px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  background-color: #f2f2f2;  
}


